<%#
 Copyright 2008 Steven Barth <steven@midlink.org>
 Copyright 2008-2016 Jo-Philipp Wich <jow@openwrt.org>
 Copyright 2012 David Menting <david@nut-bolt.nl>
 Licensed to the public under the Apache License 2.0.
-%>

<%
    local sys  = require "luci.sys"
    local util = require "luci.util"
    local http = require "luci.http"
    local disp = require "luci.dispatcher"

    local boardinfo = util.ubus("system", "board")

    local request  = disp.context.path
    local request2 = disp.context.request

    local category = request[1]
    local cattree  = category and disp.node(category)

    local leaf = request2[#request2]

    local tree = disp.node()
    local node = disp.context.dispatched

    local categories = disp.node_childs(tree)

    local c = tree
    local i, r

    -- tag all nodes leading to this page
    for i, r in ipairs(request) do
        if c.nodes and c.nodes[r] then
            c = c.nodes[r]
            c._menu_selected = true
        end
    end

    -- send as HTML5
    http.prepare_content("text/html")

    local function nodeurl(prefix, name, query)
        local u = url(prefix, name)
        if query then
            u = u .. http.build_querystring(query)
        end
        return pcdata(u)
    end

    local function render_tabmenu(prefix, node, level)
        if not level then
            level = 1
        end

        local childs = disp.node_childs(node)
        if #childs > 0 then
            if level > 2 then
                write('<ul class="tabs">')
            end

            local selected_node
            local selected_name
            local i, v

            for i, v in ipairs(childs) do
                local nnode = node.nodes[v]
                if nnode._menu_selected then
                    selected_node = nnode
                    selected_name = v
                end

                if level > 2 then
                    write('<li class="tabmenu-item-%s %s"><a href="%s">%s</a></li>' %{
                        v, (nnode._menu_selected or (node.leaf and v == leaf)) and 'active' or '',
                        nodeurl(prefix, v, nnode.query),
                        striptags(translate(nnode.title))
                    })
                end
            end

            if level > 2 then
                write('</ul>')
            end

            if selected_node then
                render_tabmenu(prefix .. "/" .. selected_name, selected_node, level + 1)
            end
        end
    end

    local function render_submenu(prefix, node)
        local childs = disp.node_childs(node)
        if #childs > 0 then
            write('')

            for i, r in ipairs(childs) do
                local nnode = node.nodes[r]
                write('<div class="shortcut-drawer win10-open-window" data-url="%s"> <i class="icon fa fa-fw fa-th-list "></i><div class="title">%s</div></div>' %{
                    nodeurl(prefix, r, nnode.query),
                    pcdata(striptags(translate(nnode.title)))
                })
            end

            write('')
        end
    end

    local function render_topmenu()
        local childs = disp.node_childs(cattree)
        local icons = {"fa-info","fa-cogs","fa-paper-plane","fa-server","fa-life-ring","fa-folder","fa-shield",'fa-database','fa-futbol-o','fa-magnet','fa-plus-square','fa-tachometer','fa-wifi','fa-tasks',"fa-folder","fa-folder","fa-folder","fa-folder","fa-folder"} 
        if #childs > 0 then
            write('')
            for i, r in ipairs(childs) do
            	local nodeindex = i 
            	local menuicon = icons[i]
                local nnode = cattree.nodes[r]
                local grandchildren = disp.node_childs(nnode)

                if #grandchildren > 0 then
                    write('<div class="shortcut win10-drawer"><i class="icon fa fa-fw %s "></i><div class="title">%s</div><div class="win10-drawer-box">' %{
                    	pcdata(striptags(menuicon)),
                    	pcdata(striptags(translate(nnode.title)))
                    })
                    render_submenu(category .. "/" .. r, nnode)
                    write('</div></div>')
                else
                	if nodeindex == #childs then
                		break
                	end
                    write('<div class="shortcut" onclick=\'Win10.openUrl("%s","<i></i>%s")\'><i class="fa fa-gears  icon purple"></i><div class="title">%s</div> </div>' %{
                        nodeurl(category, r, nnode.query),
                        pcdata(striptags(translate(nnode.title))),
                        pcdata(striptags(translate(nnode.title)))
                    })
                end
            end

            write('')
        end
    end

-%>
<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <title>YUNYI WIN10</title>
    <link rel='Shortcut Icon' type='image/x-icon' href='/luci-static/win10/img/windows.ico'>
    <script  src="/luci-static/win10/layer/jquery.min.js"></script>
    <script  src="/luci-static/win10/layer/layer.js"></script>
    <link href="/luci-static/win10/css/animate.css" rel="stylesheet">
    <link rel="stylesheet" href="/luci-static/win10/css/font-awesome.min.css">
    <link href="/luci-static/win10/css/default.css" rel="stylesheet">
<link href="/luci-static/win10/css/shortcut-drawer.min.css" rel="stylesheet">
    <script type="text/javascript" src="/luci-static/win10/js/win10.js"></script>
<script type="text/javascript" src="/luci-static/win10/js/shortcut-drawer.min.js"></script>
    <style>
        * {
            font-family: "Microsoft YaHei", 微软雅黑, "MicrosoftJhengHei", 华文细黑, STHeiti, MingLiu
        }
        /*磁贴自定义样式*/
        .win10-block-content-text {
            line-height: 44px;
            text-align: center;
            font-size: 16px;
        }
    </style>
    <script>
        Win10.onReady(function () {

            //设置壁纸
            Win10.setBgUrl({
                main:'/luci-static/win10/img/wallpapers/main.jpg',
                mobile:'/luci-static/win10/img/wallpapers/mobile.jpg',
            });

            Win10.setAnimated([
                'animated flip',
                'animated bounceIn',
            ], 0.01);



        });

    </script>
</head>
<body>
<div id="win10">
    <div class="desktop">
        <div id="win10-shortcuts" class="shortcuts-hidden">


        	
            
            <% render_topmenu() %>

            <div class="shortcut" onclick="window.open('/cgi-bin/luci/admin/status/overview')">
                <i class="fa fa-undo icon "></i>
                <div class="title">YUNYI界面</div>
            </div> 

        </div>

        <% if category then render_tabmenu(category, cattree) end %>
        <div id="win10-desktop-scene"></div>
    </div>
    <div id="win10-menu" class="hidden">
        <div class="list win10-menu-hidden animated animated-slideOutLeft">
            <div class="item"><i class="red icon fa fa-wrench fa-fw"></i><span>API测试</span></div>
            <div class="sub-item" onclick="Win10.openUrl('./child.html','子页')">父子页沟通</div>
            <div class="sub-item" onclick="Win10.commandCenterOpen()">打开消息中心</div>
            <div class="sub-item" onclick="Win10.newMsg('API测试','通过API可以发送消息至消息中心，自定义标题与内容(点击我试试)',function() {alert('click')})">发送带回调的消息</div>
            <div class="sub-item" onclick="Win10.menuClose()">关闭菜单</div>
            <div class="item" ><i class="blue icon fa fa-gavel fa-fw"></i>辅助工具</div>
            <div class="sub-item" onclick="Win10.openUrl('win10ui.yuri2.cn/src/tools/builder-shortcut.html','图标代码生成器')">桌面图标代码生成器</div>
            <div class="sub-item" onclick="Win10.openUrl('win10ui.yuri2.cn/src/tools/builder-tile.html','磁贴代码生成器')">磁贴代码生成器</div>
            <div class="sub-item" onclick="Win10.openUrl('win10ui.yuri2.cn/src/tools/builder-menu.html','菜单代码生成器')">菜单代码生成器</div>
            <div class="item" onclick="Win10.aboutUs()"><i class="purple icon fa fa-info-circle fa-fw"></i>关于</div>
            <div class="item" onclick="layer.open({
                title:'支持作者',
                type: 1,
                area:'300px',
                offset:'50px',
                shadeClose:true,
                content: '<img width=\'300\' src=\'/luci-static/img/presentation/donation.jpg\' />'
            })"><i class="green icon fa fa-thumbs-up fa-fw"></i>弹出自定义内容</div>
            <div class="item" onclick=" Win10.exit();"><i class="black icon fa fa-power-off fa-fw"></i>关闭</div>
        </div>
        <div class="blocks">
            <div class="menu_group">
                <div class="title">
                    应用示例
                </div>
                <div loc="1,1" size="6,3" class="block">
                    <div class="content red detail" >
                        <iframe style="margin-top: 10px" frameborder="no" border="0" marginwidth="0" marginheight="0" width=264 height=110 src="//music.163.com/outchain/player?type=2&id=110771&auto=0&height=90"></iframe>
                    </div>
                    <div class="content red cover">
                        <img width="264" style="position: relative;top: -50px;" src="./img/presentation/wangyiyun.gif" />
                    </div>
                </div>
                <div loc="1,4" size="4,4" class="block">
                    <div class="content blue cover" style="font-size: 30px;line-height: 176px;text-align: center">
                        <i class="fa fa-cloud fa-fw"></i> 天气
                    </div>
                    <div class="content detail" style="background-color: rgb(46,147,217)">
                        <iframe src="//www.seniverse.com/weather/weather.aspx?uid=U43DF172E7&cid=CHBJ000000&l=&p=SMART&a=1&u=C&s=13&m=2&x=1&d=1&fc=&bgc=2E93D9&bc=&ti=0&in=0&li=" frameborder="0" scrolling="no" width="200" height="300" allowTransparency="true"></iframe>
                    </div>
                </div>
                <div loc="5,4" size="2,2" class="block">
                    <div class="content">
                        <img style="display: inline-block;border-radius: 4px" width="88px" src="http://q2.qlogo.cn/headimg_dl?bs=824831811&dst_uin=824831811&src_uin=824831811&fid=824831811&spec=100&url_enc=0&referer=bu_interface&term_type=PC"/>
                    </div>
                </div>
                <div loc="5,6" size="2,2" class="block" onclick="win10_forgive_me()">
                    <div class="content red">
                        <div style="text-align: center;font-size: 30px;line-height: 44px"><i class="fa fa-bug fa-fw"></i></div>
                        <div style="text-align: center;font-size: 16px;line-height: 44px">别点我</div>
                    </div>
                </div>
            </div>

            <div class="menu_group">
                <div class="title">
                    常用场景
                </div>
                <div loc="1,1" size="4,3" class="block">
                    <div class="content" style="background-color: orangered">
                        <div class="win10-block-content-text" style="font-size: 26px;line-height: 88px">WIN10-UI</div>
                        <div class="win10-block-content-text">显示信息</div>
                    </div>
                </div>
                <div loc="5,1" size="2,1" class="block">
                    <div class="content" style="background-color: green">
                        <div  class="win10-block-content-text">文字按钮</div>
                    </div>
                </div>
                <div loc="5,2" size="2,2" class="block">
                    <div class="content">
                        <img style="width: 40px;height: 40px;margin: 5px auto;display: block" src="./img/icon/baidu.png">
                        <div class="win10-block-content-text">图标按钮</div>
                    </div>
                </div>
                <div loc="1,4" size="6,3" class="block">
                    <div class="content" style="background: url('./img/presentation/1.png');background-size: auto">
                        <div style="line-height:132px;text-align: center;">显示图片</div>
                    </div>
                </div>
                <div loc="1,7" size="2,1" class="block">
                    <div class="content" style="background-color: grey" onclick="Win10.openUrl('//www.baidu.com')">
                        <div class="win10-block-content-text">内部链接</div>
                    </div>
                </div>
                <div loc="3,7" size="2,1" class="block">
                    <div class="content" style="background-color: blue" onclick="window.open('https://www.baidu.com')">
                        <div class="win10-block-content-text">外部链接</div>
                    </div>
                </div>
            </div>
        </div>
        <div id="win10-menu-switcher"></div>
    </div>
    <div id="win10_command_center" class="hidden_right">
        <div class="title">
            <h4 style="float: left">消息中心 </h4>
            <span id="win10_btn_command_center_clean_all">全部清除</span>
        </div>
        <div class="msgs"></div>
    </div>
    <div id="win10_task_bar">
        <div id="win10_btn_group_left" class="btn_group">
            <div id="win10_btn_win" class="btn"><span class="fa fa-windows"></span></div>
            <!--<div class="btn" id="win10-btn-browser"><span class="fa fa-internet-explorer"></span></div>-->
            <div class="btn" id="win10-btn-quit" onclick="window.location.href='/cgi-bin/luci/admin/logout'"><span class="fa fa-sign-out"></span></div>
        </div>
        <div id="win10_btn_group_middle" class="btn_group"></div>
        <div id="win10_btn_group_right" class="btn_group">
            <div class="btn" id="win10_btn_time">
            </div>
            <div class="btn" id="win10_btn_command"><span id="win10-msg-nof" class="fa fa-comment-o"></span></div>
            <div class="btn" id="win10_btn_show_desktop"></div>
        </div>
    </div>
</div>
</body>
</html>


